
<link rel="import" href="../../lib/jsorolla/src/lib/opencga/variant/variant-browser.html">
<link rel="import" href="iva-login.html">

<dom-module id="iva-web">

    <template>
        <style is="custom-style" include="jso-styles"></style>

        <div>
            <div style="height: 60px;">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">{{title}}</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav iva-menu">
                                <li><a href="#home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                <li><a href="#bierAppPanel">BierApp</a></li>
                            </ul>
                            <!--Search bar shown in other views except home-->
                            <template is="dom-if" if="{{search}}">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="homeSearchTextBox" placeholder="Gene, Transcript, Variant or Region" on-keyup="callAutoComplete">
                                        <a href="#">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </form>
                            </template>
                            <!-- Controls aligned to the right: settings and about-->
                            <ul class="nav navbar-nav navbar-right">
                                <!--Settings-->
                                <li>
                                    <a href="#" data-toggle="modal" role="button" data-placement="bottom" data-target="#myModalSettings" title="Settings ...">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                </li>

                                <!--About-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <template is="dom-repeat" items="{{about}}">
                                            <li><a href="{{item.url}}" target="_blank">{{item.name}}</a></li>
                                        </template>
                                    </ul>
                                </li>

                                <!--Login-->
                                <li class="iva-login-menu">
                                    <a href="#login" data-toggle="modal" role="button" data-placement="bottom" data-target="#ModalLogin" title="Login ...">
                                        <i class="fa fa-sign-in fa-lg"></i> Login
                                    </a>
                                    <a href="#logout" on-click="logout" style="display: none;">
                                        <i class="fa fa-sign-out fa-lg"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>

            <!-- This is where main application is rendered -->
            <div class="center">
                <div class="collapse content" align="center" id="home">
                    <!--Home page-->
                    <h2>Welcome to {{title}}!</h2>
                    <div style="width: 60%;">
                        <input type="text" class="form-control" id="mainSearchTextBox" placeholder="Search for a gene, variant or region" on-keyup="callAutoComplete">
                    </div>
                </div>
                <div class="collapse content" id="bierAppPanel">
                    <!--BierApp panel-->
                    <!--<variant-browser host="{{host}}" project="{{project}}" studies="{{studies}}"></variant-browser>-->
                </div>
                <div class="collapse content" id="ivaGeneView">
                    <h2>Gene</h2>
                </div>
            </div>
        </div>

        <!-- Modal dialog for Settings -->
        <div class="modal fade" id="myModalSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="addon1">Host</span>
                            <input type="text" class="form-control" placeholder="Host address" aria-describedby="addon1"
                                   value="{{host}}">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="addon2">User ID</span>
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="addon2"
                                   value="{{user}}">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="addon3">Project</span>
                            <input type="text" class="form-control" placeholder="Project ID or name"
                                   aria-describedby="addon3" value="{{project}}">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="addon4">Studies</span>
                            <input type="text" class="form-control" placeholder="Study IDs" aria-describedby="addon4"
                                   value="{{study}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal dialog for Login-->
        <div id="login">
            <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLogin">Login</h4>
                        </div>
                        <div class="modal-body">
                            <iva-login on-login="login" login-text="Sign in"></iva-login>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'iva-web',
            properties: {
                title: {
                    type: String
                },
                search: {
                    type: Boolean,
                    value: false
                }
            },
            ready: function () {
                this.title = TITLE;
                this.host = HOST;
                this.project = PROJECT;
                this.studies = STUDIES;
                this.about = ABOUT;
                $('#home').show();

                let _this = this;
                $(".iva-menu a").on('click', function(e) {
                    e.preventDefault(); // stops link form loading
                    $('.content').hide(); // hides all content divs
                    $( $(this).attr('href') ).show(); //get the href and use it find which div to show
                    _this.search = false;
                });
            },

            callAutoComplete: function (e) {
                if (e.keyCode != '13') {
                    // call web services for autocomplete data
                    console.log("value is being entered")
                } else {
                    // load the corresponding view
                    console.log("Enter pressed and switching to view")
                    $('#' + e.srcElement.id).val('');
                    this.search = true;
                    $('.content').hide();
                    $('#ivaGeneView').show();
                }
            },

            login: function(e) {
                this.showLogout();
            },

            logout: function() {
                this.showLogin();
            },

            showLogin: function() {
                $(".iva-login-menu a[href='#logout']").hide();
                $(".iva-login-menu a[href='#login']").removeAttr("style");
            },

            showLogout: function() {
                $(".iva-login-menu a[href='#login']").hide();
                $(".iva-login-menu a[href='#logout']").removeAttr("style");
            },
        });
    </script>
</dom-module>