
<dom-module id="opencga-study">
    <template>
        <style is="custom-style" include="jso-styles"></style>
        <style>
            .center {
                margin: auto;
                text-align: justify;
                width: 60%;
            }
        </style>

        <div>
            <h2 class="center">{{study.name}}</h2>


        </div>
    </template>
    <script>
        Polymer({
            is: 'opencga-study',
            properties: {
                project: {
                    type: Object,
                    value: []
                }
//                ,
//                study: {
//                    type: Object,
//                    observer: 'studyChanged',
//                    notify: true
//                }
            },
            studyChanged: function (neo, old) {
                console.log("studyChanged", this.study)
            }
        });
    </script>
</dom-module>